<launch>
	<arg name="gui" default="False" />
    <param name="use_gui" value="$(arg gui)"/>

    <param name="robot_description" textfile="$(find val_description)/model/urdf/valkyrie_visual.urdf" />        

    <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" > 
        <rosparam param="source_list">[/ihmc_ros/valkyrie/output/joint_states, multisense/joint_states]</rosparam>       
    </node>

    <node name="robot_state_publisher" pkg="robot_state_publisher" type="state_publisher" >
    </node>

    <node name="ihmc_gazebo_rviz" pkg="rviz" type="rviz" args="-d $(find val_viz)/launch/ihmc_viz_robot.rviz" required="true" />    

</launch>