<launch>

    <arg name="gui" default="True" />
    <param name="use_gui" value="$(arg gui)"/>

    <!-- Load Robot -->
    <param name="val_viz_robot_description" textfile="$(find val_description)/model/urdf/valkyrie_sim_gazebo_sync.urdf" />        

    <!-- Load Joint State and Robot State Publishers -->
    <node name="val_viz_joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" > 
        <rosparam param="source_list">[/ihmc_ros/valkyrie/output/joint_states]</rosparam>
        <remap from="robot_description" to="val_viz_robot_description" />
        <remap from="joint_states" to="val_viz_joint_states" /> 
    </node>

    <node name="val_viz_robot_state_publisher" pkg="robot_state_publisher" type="state_publisher" >
        <remap from="robot_description" to="val_viz_robot_description" />        
        <remap from="joint_states" to="val_viz_joint_states" /> 
        <param name="tf_prefix" type="string" value="val_viz" />         
    </node>

    <node name="val_viz_rviz" pkg="rviz" type="rviz" args="-d $(find val_viz)/launch/visualize_robot.rviz" required="true" /> 

</launch>